<div class="bg-gradient-to-br from-indigo-600 to-purple-700 text-white p-20 h-full w-full gap-10 flex flex-col">
    <app-logo></app-logo>
    <div>
        <h1 class="text-3xl font-bold mb-3">
            {{title}}
        </h1>
        <h1 class="text-indigo-300 mb-8 text-3xl font-bold">
            {{subtitle}}
        </h1>
        <span class="text-indigo-300">{{about}}</span>
    </div>
    @if (steps?.length) {
        <div class="space-y-6">
            @for (step of steps; track $index; let i = $index) {
            <div class="flex items-start gap-4">
                <div class="w-8 h-8 flex items-center justify-center rounded-full bg-white/20">
                {{ i + 1 }}
                </div>
                <div>
                <div class="font-medium">
                    {{ step.title }}
                </div>
                <div class="text-sm text-indigo-200">
                    {{ step.description }}
                </div>
                </div>
            </div>
            }
        </div>
    }

    @if (features?.length) {
    <ul class="space-y-3">
        @for (f of features; track $index) {
        <li class="flex items-center gap-3 text-indigo-200">
            <span class="w-2 h-2 bg-indigo-300 rounded-full"></span>
            {{ f }}
        </li>
        }
    </ul>
    }
</div>