<div class="flex flex-col w-full h-full items-stretch justify-start">
  <div class="w-full max-h-[90%] overflow-y-auto">
    <table class="w-full text-sm text-gray-600 border-spacing-y-1 table-fixed">
      <thead class=" text-gray-700 sticky top-0 bg-white ">
        <tr class="">
            <th class="px-6 py-3 font-semibold flex justify-between text-left">
                Nome
                <button 
                    (click)="toggleSort()"
                    class="flex cursor-pointer items-center"
                >
                    <mat-icon class="flex items-center" style="font-size:18px">
                        {{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
                    </mat-icon>
                </button>
            </th>
            <th class="px-6 py-3 font-semibold text-left">CPF</th>
    
          @if (view === 'admin') {
            <th class="px-6 py-3 font-semibold text-left">Salário</th>
            <th class="px-6 py-3 font-semibold text-left">Nº Conta</th>
          }
    
          @if (view === 'manager') {
            <th class="px-6 py-3 font-semibold text-left">Cidade</th>
            <th class="px-6 py-3 font-semibold text-left">Estado</th>
          }
    
          <th class=" px-6 py-3 font-semibold text-left">Saldo</th>
          <th class=" px-6 py-3 font-semibold text-left">Limite</th>
    
          @if (view === 'admin') {
            <th class="px-6 py-3 font-semibold text-left">CPF Gerente</th>
            <th class="px-6 py-3 font-semibold text-left">Nome Gerente</th>
          }
        </tr>
      </thead>
    
      <tbody class="divide-y divide-gray-200 scroll-auto">
        @for (c of paginatedCustomers; track c.cpf) {
          <tr class="transition border-b border-gray-200 hover:bg-gray-100">
            <td class="px-6 py-4 text-left font-medium">
              {{ c.name }}
              @if(view === 'admin'){
                <span class="text-gray-400 font-extralight">
                  {{ c.email }}
                </span>
              }
            </td>
            <td class="px-6 py-4 text-left">{{ c.cpf | cpf }}</td>
    
            @if (view === 'admin') {
              <td class="px-6 py-4 text-left">{{ c.salary | currency:'BRL' }}</td>
              <td class="px-6 py-4 text-left">{{ c.numberAccount }}</td>
            }
    
            @if (view === 'manager') {
              <td class="px-6 py-4 text-left">{{ c.city }}</td>
              <td class="px-6 py-4 text-left">{{ c.state }}</td>
            }
    
            <td 
              class="px-6 py-4 font-medium text-left"
              [class.text-red-600]="c.balance < 0"
            >
              {{ c.balance | currency:'BRL' }}
            </td>
    
            <td class="px-6 py-4 text-left">
              {{ c.limit | currency:'BRL' }}
            </td>
    
            @if (view === 'admin') {
              <td class="px-6 py-4 text-left">{{ c.manager.cpf | cpf }}</td>
              <td class="px-6 py-4 text-left">{{ c.manager.name }}</td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="flex justify-center items-center gap-6 mt-8 w-full p-6 bg-gradient-to-r from-gray-50 to-gray-100 rounded-lg border border-gray-200">
    <button
      (click)="currentPage = currentPage - 1"
      [disabled]="currentPage === 1"
      class="px-6 py-2.5 bg-white border border-gray-300 rounded-lg hover:bg-[#6366f1] hover:text-white hover:border-[#6366f1] disabled:opacity-30 disabled:cursor-not-allowed cursor-pointer font-semibold text-sm transition-all duration-200"
    >
      ← Anterior
    </button>
  
      <span class="text-sm font-semibold text-gray-700 px-6 py-2 bg-white rounded-lg border border-gray-200">
        Página <span class="text-[#6366f1] font-bold">{{ currentPage }}</span> de <span class="text-[#6366f1] font-bold">{{ totalPages }}</span>
      </span>
  
      <button
        (click)="currentPage = currentPage + 1"
        [disabled]="currentPage === totalPages"
        class="px-6 py-2.5 bg-white border border-gray-300 rounded-lg hover:bg-[#6366f1] hover:text-white hover:border-[#6366f1] disabled:opacity-30 disabled:cursor-not-allowed cursor-pointer font-semibold text-sm transition-all duration-200"
      >
        Próxima →
      </button>
  </div>
</div>