<aside class="h-screen w-56 min-w-[45%] border-r-2 border-gray-200 p-2.5 flex flex-col justify-between">
    <div class="flex flex-col">
        <h2 class="text-[#6366F1] mt-5 mb-5 ml-2 font-bold text-3xl ">BanTads</h2>
        <div class="flex flex-col h-auto">
            <app-menu-actions 
                icon="home"
                label="Aprovações Pendentes"
                routerLink="/home-gerente"
            ></app-menu-actions>
            <app-menu-actions 
                icon="receipt_long"
                label="Clientes"
                routerLink="/"
            ></app-menu-actions>
            <app-menu-actions 
                icon="settings"
                label="Top 3 Clientes"
                routerLink="/configuracoes"
            ></app-menu-actions>
        </div>
    </div>
    <div class="flex border-t-1 border-gray-200 cursor-pointer">
        <div class="m-2 w-12 h-12 rounded-full bg-indigo-500 flex items-center justify-center text-white font-bold">
            {{ getInitials("John Doe") }}
        </div>
        <div class="flex flex-col align-middle justify-center">
            <p class="font-semibold">John Doe</p>
            <label class="text-[#6B7280]">john@example.com</label>
        </div>
    </div>
</aside>